@model CMSWebPageCreator.Models.DbDetailViewModel

@{
    ViewData["Title"] = "DATABASE DETAILS";
}


<h1>DataBase Details</h1>
<br />
<table>
    <tr>
        <th>Number of Pages</th>
        <th>Number of Pages With a specific letter</th>
    </tr>
    <tr>@Model.PageCount</tr>

</table>
