@model CMSWebPageCreator.Models.DbDetailViewModel

@{
    ViewData["Title"] = "DATABASE DETAILS";
}


<h1>DataBase Details</h1>
<br />
<table style="width:100%">
    <tr>
        <th>Number of Pages</th>
        <th>Number of Pages With a specific letter</th>

    </tr>
    <tr></tr>
    <tr><td>@Model.PageCount</td>
    <td>@Model.SearchCount</td>
    <td></td></tr>

</table>

<h1>Type in the string you want to search for in the database titles.</h1>
<form asp-action="DetailDB" asp-controller="DetailsController">
       <input name="searchString" />
    <div class="form-group">
        <input type="submit" value="searchString" class="btn btn-primary" />
    </div>
</form>