@model CMSWebPageCreator.Models.DbDetailViewModel

@{
    ViewData["Title"] = "DATABASE DETAILS";
}


<h1>DataBase Details</h1>
<br />
<table style="width:100%">
    <tr>
        <th>Number of Pages</th>
        <th>Number of Pages With a specific letter</th>

    </tr>
    <tr></tr>
    <tr><td>@Model.PageCount</td>
    <td>@Model.SearchCount</td>
    <td></td></tr>

</table>


<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="pageId" class="control-label"></label>
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>