@model CMSWebPageCreator.Models.DbDetailViewModel

@{
    ViewData["Title"] = "DATABASE DETAILS";
}


<h1>DataBase Details</h1>
<br />
<table style="width:100%">
    <tr>
        <th>Number of Pages</th>
        <th>Number of Pages With a specific letter</th>

    </tr>
    <tr></tr>
    <tr><td>@Model.PageCount</td>
    <td>@Model.search</td>
    <td></td></tr>

</table>
