@model CMSWebPageCreator.Models.PageCreate

@{
    ViewData["Title"] = "DATABASE DETAILS";
}


<h1>DataBase Details</h1>
<br />
<table>
    <tr>
        <th>Number of Pages</th>
        <th>Number of Items for a Page</th>
    </tr>
</table>
