@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is a Quote of the Day for your enjoyment</p>
    <h2><div class="text-center">@ViewData["quote"]</div></h2>
    <div class="text-center">@ViewData["author"]</div>
</div>
