@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is a Quote of the Day for your enjoyment</p>
    <div class="text-center"><h2>@ViewData["quote"]</h2></div>
    <div class="text-center">@ViewData["author"]</div>
</div>
