@page


<div class="container">
    <div class="jumbotron rounded bg-dark text-white text-center">
        <h1>Signal R Chat Room</h1>
        <p>The Best chatroom in the business</p>
    </div>
    <div class="font-weight-bold">
        <div >&nbsp;</div>
        <div>
            <p>User...</p><input class="form-control" type="text" id="userInput" />
            <br />
            <p>Message...</p><input class="form-control form-group" type="text" id="messageInput" />
            <input class="form-group btn btn-dark" type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
