@model CMSWebPageCreator.Models.PageCreate

@{
    ViewData["Title"] = "Delete";
}

<h3>Delete Page</h3>
<div>   
    <h4>@Model.Title</h4>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="pageId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> <p></p>
        <a class="btn btn-dark" asp-action="Index">Back to List</a>
    </form>
</div>
