@model CMSWebPageCreator.Models.PageCreate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PageCreate</h4>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="pageId" />
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<hr>
@{await Html.RenderPartialAsync("HeaderCreatePartial", new HeaderInfo() { PageCreateParentId = Model.pageId });}

<div><h2>Edit Existing Headers</h2></div>
@foreach (var item in Model.Headers)
{
    await Html.RenderPartialAsync("HeaderEditPartial", item);
}
<hr>

@{await Html.RenderPartialAsync("BodyCreatePartial", new BodyInfo() { PageCreateParentId = Model.pageId });}

@if(Model.BodyItems.Count > 0)
{
<div><h2>Edit Existing Body Items</h2></div>
}
@foreach (var item in Model.BodyItems)
{
    await Html.RenderPartialAsync("BodyEditPartial", item);
}
    <hr>
@{await Html.RenderPartialAsync("FooterCreatePartial", new FooterInfo() { PageCreateParentId = Model.pageId });}
@if(Model.FooterItems.Count > 0)
{
    <div><h2>Edit Existing Footer Items</h2></div>       
}
@foreach (var item in Model.FooterItems)
{
    await Html.RenderPartialAsync("FooterEditPartial", item);
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
