@model CMSWebPageCreator.Models.PageCreate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PageCreate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="pageId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            <form asp-action="MyBodyCreate">
                <label asp-for="MyBody.BodyContent" class="control-label"></label>
                <input asp-for="MyBody.BodyContent" class="form-control" />
                <span asp-validation-for="MyBody.BodyContent" class="text-danger"></span>

                <label asp-for="MyBody.ContentType" class="control-label"></label>
                <input asp-for="MyBody.ContentType" class="form-control" />
                <span asp-validation-for="MyBody.ContentType" class="text-danger"></span>

                <input type="hidden" asp-for="pageId" />
                <div class="form-group">
                    <input type="submit" value="MyBodyCreate" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="form-group">
            <form asp-action="MyFooterCreate">
                <label asp-for="MyFooter.FooterContent" class="control-label"></label>
                <input asp-for="MyFooter.FooterContent" class="form-control" />
                <span asp-validation-for="MyFooter.FooterContent" class="text-danger"></span>

                <label asp-for="MyFooter.ContentType" class="control-label"></label>
                <input asp-for="MyFooter.ContentType" class="form-control" />
                <span asp-validation-for="MyFooter.ContentType" class="text-danger"></span>

                <input type="hidden" asp-for="pageId" />
                <div class="form-group">
                    <input type="submit" value="MyFooterCreate" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
